---
const { name, image, description, link, technologies } = Astro.props;
---

<article class="hover:-translate-y-4 transition ease-out w-full mb-4">
  <div
    class="bg-[#283564] p-2 rounded-2xl backdrop-opacity-60 h-[500px] hover:bg-[#3c4e91]"
  >
    <img
      src={image}
      alt="project-image"
      class="rounded-xl rounded-t-2xl w-full h-[160px]"
    />
    <a href={link} target="_blank"
      ><button
        class="w-full h-14 bg-[#2C2C3D] rounded-xl mt-1 rounded-b-2xl border-[#777777] border font-medium"
        >Deploy🚀</button
      ></a
    >

    <div class="flex flex-col justify-between">
      <div class="mt-4">
        <h2 class="text-center font-medium">{name}</h2>
        <p class="p-1 pt-4 pb-4 text-sm text-pretty">{description}</p>
      </div>
      <!-- <div class="flex justify-start items-center flex-wrap gap-2">
        {technologies.map((item) => <p>{item}</p>)}
      </div> -->
    </div>
  </div>
</article>
